.container {
    background-color: #141414;
    height: 120vh;
    color: var(--text-color-dark-theme);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.upper-placeholder-div {
    max-width: 20%;
    height: 15%;
}

.lower-placeholder-div {
    max-width: 20%;
}

.first-row-middle {
    height: 15%;
    width: 58%;
    border-right: var(--border);
    border-left: var(--border);
    transition: 500ms;
}

.main {
    width: 58%;
    display: flex;
    border-left: var(--border);
    border-right: var(--border);
    transition: 500ms;
}

.nav-container {
    width: 100%;
    min-height: fit-content;
    border-top: var(--border);
    border-bottom: var(--border);
    padding: 0;
}

.body {
    min-height: 75%;
    display: flex;
    flex-wrap: wrap;
}

.row-box {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.row {
    width: 100%;
    margin-left: 1rem;
    display: flex;
    padding: 1rem 0 1rem 0;
    justify-items: center;
    justify-content: space-between;
}

.one-contact {
    display: flex;
    flex-wrap: wrap;
}

.one-contact-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}

.one-contact-info {
    margin-left: 1.5rem;
}

.one-contact-icons-container {
    display: none;
    flex-wrap: wrap;
    margin-right: 2rem;
}

.one-contact-icons-container li,
.dropdown-container {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.dropdown-container {
    position: relative;
    cursor: pointer;
}

.row:hover .one-contact-icons-container {
    display: flex;
}

.dropdown-container:hover {
    background-color: #232323;
}

.dropdown-container:active {
    background-color: #1E1E1E;
}

@media(max-width: 768px) {

    .first-row-middle,
    .main {
        min-width: 75%;
        transition: 500ms;
    }
}

@media(max-width: 600px) {

    .first-row-middle,
    .main {
        min-width: 80%;
        transition: 500ms;
    }

    .row {
        margin-left: 0.5rem;
    }

    .one-contact-info {
        margin-left: 0.75rem;
    }

    .one-contact-icons-container {
        margin-right: 0.5rem;
    }

    .one-contact-icons-container li,
    .dropdown-container {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 6px;
    }
}

@media(max-width: 450px) {
    .first-row-middle,
    .main {
        min-width: 70%;
        transition: 500ms;
    }

    .row {
        margin-left: 0.25rem;
    }

    .one-contact-info {
        margin-left: 0.5rem;
        font-size: 12px;
    }

    .one-contact-icons-container {
        margin-right: 0.125rem;
    }

    .one-contact-icons-container li,
    .dropdown-container {
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 4px;
    }
}